<ng-container *ngIf="cart$ | async as cart">
  <ng-template *ngIf="cart.cartCount;then orderItem else noItem"></ng-template>
  <ng-template #orderItem>
    <h4>Shopping Cart</h4>
    <p>You have <b>{{cart.cartCount}}</b> items in your cart. <span (click)="clean()" class="font-style-italic clear-cart">clear
        cart</span></p>
    <div class="table-responsive-sm">
      <table class="table table-light table-sm">
        <thead class="thead-light">
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Price</th>

          </tr>
        </thead>

        <tbody *ngFor="let rock of cart.item  | paginate: { itemsPerPage: 4, currentPage: p }">
          <tr>
            <td>
              <div [style.backgroundImage]="'url('+rock.imgurl+')'" class="thumbnail"></div>
            </td>
            <td class="align-middle">
              {{rock.title}}
            </td>
            <td class="align-middle w-auto">
              <app-product-quantity [product]="rock" [shopping-cart]="cart"></app-product-quantity>
            </td>

            <td class="align-middle text-right">
              {{rock.price | currency:'&#8369;' }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th class="text-right"> total</th>
            <th class="text-right">
              <pre><b>&#8369;{{cart.totalPrice | number:'1.2-2'}}</b></pre>
            </th>
          </tr>

        </tfoot>
      </table>
    </div>


    <div class="row btn-nav-responsive" *ngIf="cart.cartCount">
      <div class="col-sm-12 col-md-2">
        <button routerLink="/" class="btn btn-outline-primary btn-sm btn-block">
          Continue Shopping
        </button>
      </div>
      <div class="col-ms-12 col-md-2">
        <button class="btn btn-primary btn-sm btn-block check-out" routerLink="/check-out">
       Checkout
     </button>
     </div>
      <!-- <div class="col"></div> -->
      <div class="col-md-4 col-sm-12 ml-auto">
          <pagination-controls (pageChange)="p = $event" autohide="true"></pagination-controls>
      </div>
    </div>
  </ng-template>
  <ng-template #noItem>
    <div class="container d-flex justify-content-center mt-4">
      <div class=" warn-container w-50">
        <h4 class="font-weight-bold text-center text-secondary">Your cart is empty</h4>
        <div class="d-flex justify-content-center flex-column">
          <i class="flaticon-cart text-center"></i>
          <button class="btn btn-outline-primary align-self-center m-4" routerLink="/">Continue Shopping</button>
        </div>

      </div>

    </div>

  </ng-template>
</ng-container>
