.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
  box-shadow: 2px 3px 7px 1px grey;
}

.clear-cart {
  color: #ffad45;

  &:hover {
    text-decoration: underline;
    transition: 1s ease-in-out;
    cursor: pointer;
  }
}
.flaticon-cart:before{
  color: #dc3545;
  font-size: 70px;
  color: orangered;
 
    animation: radial-pulse 2s ease-in-out infinite;
    @keyframes radial-pulse {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
        text-shadow: 2px 2px 5px rgba(105, 105, 92, 0.822);
      }
    }
  }

  .warn-container{
    margin-top: 100px;
    padding: 10px;
  }

  
  