<ng-container *ngIf="cart$ | async as cart">
  <h2>You have <small>{{cart.cartCount}}</small> items in your Cart</h2>

  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>quantity</th>
        <th>price</th>
        <th>total</th>
      </tr>
    </thead>

    <tbody *ngFor="let rock of cart.item">
      <tr>
        <td>
          {{rock.product.title}}
        </td>
        <td>
          <app-product-quantity [product]="rock.product" [shopping-cart]="cart"></app-product-quantity>
        </td>

        <td>
          {{rock.product.price | currency:'&#8369;' }}
        </td>
        <td>
          <b>&#8369;</b>{{rock.total | number:'1.2-2'}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <pre><b>&#8369;{{cart.totalPrice | number:'1.2-2'}}</b></pre>
        </td>
      </tr>

    </tfoot>
  </table>
</ng-container>
