<ng-container>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Shipping</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <form #f="ngForm">
              <div class="form-group">
                <input #fname="ngModel" [(ngModel)]="shipping.fname" name="firstName" id="firstName" class="form-control"
                  placeholder="First Name">
              </div>
              <div class="form-group">
                <input #lname="ngModel" [(ngModel)]="shipping.lname" name="lastName" id="lastName" class="form-control"
                  placeholder="Last Name">
              </div>
              <div class="from-group">
                <input #address="ngModel" [(ngModel)]="shipping.address" name="address" id="address" placeholder="address"
                  class="form-control">
              </div>

              <button class="btn btn-primary" (click)="save()">save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
