<ng-container>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Shipping</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <form #f="ngForm" class="d-flex justify-content-center flex-column">
              <div class="form-group">
                <input #fname="ngModel" [(ngModel)]="shipping.name" name="firstName" id="firstName" class="form-control"
                  placeholder="First Name" required>
                <div class="alert alert-danger" role="alert" *ngIf="fname.touched && fname.invalid"> invalid state</div>
              </div>
              <div class="from-group">
                <input #address="ngModel" [(ngModel)]="shipping.address" name="address" id="address" placeholder="address"
                  class="form-control" required>
                <div class="alert alert-danger" role="alert" *ngIf="address.touched && address.invalid"> invalid state</div>
              </div>

              <button class="btn btn-primary mt-2" [disabled]="!f.valid" [ngClass]="{'disabledSave':!f.valid}" (click)="save()">save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-order-summary></app-order-summary>
      </div>
    </div>
  </div>
</ng-container>
