<div *ngIf="product.title || product.imgurl" class="card" style="width: 15rem;" [@list]>
  <img *ngIf="product.imgurl" class="card-img-top" [src]="product.imgurl" alt="{{product.title}}">
  <div class="card-body">
    <h5 class="card-title mb-1">{{product.title}}</h5>
    <p class="card-text mb-1">{{product.price | currency:'&#8369;'}}</p>
    <div class="credits">
      <small> <b>credits:</b>{{product.credits}}</small>
    </div>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="shoppingCart.itemQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block add-to-cart">
      Add to Chart <i class="fas fa-cart-plus"></i></button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
    </ng-template>


  </div>
</div>
